#
# Copyright 2022 Graviti. Licensed under MIT License.
#

* @linjiX

/.github/workflows/ @AChenQ
/.pre-commit-config.yaml @AChenQ

/graviti/client/ @graczhual
/graviti/openapi/ @graczhual
/graviti/manager/ @graczhual
/graviti/operation/ @graczhual
/graviti/dataframe/ @AChenQ
/graviti/portex/ @Lee-000
/graviti/exception.py @Lee-000
